@font-face {
    font-family: "iconfont"; /* Project id 3599067 */
    src: url('https://at.alicdn.com/t/c/font_3599067_49v8teu1czp.woff2?t=1660890347901') format('woff2'),
    url('https://at.alicdn.com/t/c/font_3599067_49v8teu1czp.woff?t=1660890347901') format('woff'),
    url('https://at.alicdn.com/t/c/font_3599067_49v8teu1czp.ttf?t=1660890347901') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-biyanjing:before {
    content: "\e901";
}

.icon-tixingtianchong:before {
    content: "\e695";
}

.icon-xiasanjiaoxing:before {
    content: "\e642";
}
