html {
    font-size: 187.5% !important;
}

body {
    background-color: #F4F5F5;
}

a {
    text-decoration: none;
    color: #515767;
}

.active {
    color: #1E80FF;
}
#nav-bar {
    width: 100%;
    height: 2rem;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F1F1F1;
    font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial !important;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    transition: top 0.3s ease;
    top: 0;
}

.nav-bar-hidden{
    top:-2rem;
}

#logo {
    width: 4.87rem;
    display: flex;
    align-items: center;
}

#logo img{
    width: 3.56666667rem;
    margin-left: .87rem;
}
#logo-hidden{
    display: none;
}
#logo-hidden img{
    width: 1rem;
    margin-left: .67rem;
}
#left-nav {
    display: flex;
    align-items: center;
    position: relative;
}

#index-menu {
    position: absolute;
    top: 1.8rem;
    left: 3.05rem;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 24px rgb(81 87 103 / 16%);
    border-radius: 6px;
    width: 4.7rem;
    height: 9.867rem;
    padding: .26667rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

#index-item {
    display: flex;
}

#index-item li,
#index-item nav,
#hidden-index {
    width: 1.73rem;
    height: 2rem;
    line-height: 2rem;
    font-size: .464rem;
    text-align: center;
}

#hidden-index {
    font-size: .53rem;
    display: none;
    margin-left: .2rem;
}

.hiddensvg {
    fill: #515767;
    transform: rotate(0deg);
    transition: all .2s ease-in-out;
}

.activemenusvg {
    fill: #1e80ff;
    transform: rotate(-180deg);
}

#index-menu li,
#index-menu nav {
    width: 4.76rem;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    font-size: .464rem;
}

#index-item li a {
    width: 100%;
    height: 100%;
    display: block;
}

#index-menu li a {
    width: 1.6rem;
    height: 2rem;
}

#index-item a:hover,
#index-menu li:hover a {
    color: #252933;
}

#index-item li a:hover::before {
    content: '';
    width: .93rem;
    height: .1rem;
    background-color: #1E80FF;
    border-radius: 1.03rem;
    position: absolute;
    top: 1.9rem;
}

/* 这里有bug */
#index-menu li a:hover::before {
    content: '';
    width: .93rem;
    height: .1rem;
    background-color: #1E80FF;
    border-radius: 1.03rem;
    position: absolute;
    top: 1.9rem;
}

#index-item nav a,
#index-menu nav a {
    width: 100%;
    height: 100%;
    display: block;
}

#right-nav {
    display: flex;
    align-items: center;
}

#right-nav li {
    margin: 0 .38rem;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.1333rem;
    border: 1px solid #C2C8D1;
    border-radius: 5px;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 16.78rem;
    overflow: hidden;
}

.search-form:hover {
    border-color: #8A919F;
}

.search-input {
    border: none;
    color: #8A919F;
    outline: none;
    width: 10.43rem;
    padding: .26rem 0 .26rem .4rem;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.search input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #C2C8D1;
    font-size: .44rem;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1.47rem;
    height: 1rem;
    margin-right: .08rem;
    background-color: #F2F3F5;
    border-radius: 2px;
}

.search-icon img {
    width: .53rem;
}

.searchform-inputfocused {
    border-color: #1E80FF;
}

.input-inputfocused {
    width: 15.16rem;
}

.icon-inputfocused {
    background-color: #dfebfe;
}

.add-group {
    display: flex;
    width: 3.89rem;
    height: 1.2rem;
    border-radius: 3px;
    align-items: center;
    justify-content: end;
    background-color: #1E80FF;
    transition: all 0.3s;
}

#add-btn {
    width: 100%;
    height: 100%;
    line-height: 100%;
    border: none;
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #358DFF;
    line-height: 1.2rem;
    font-size: .4666667rem;
    color: #FFFFFF;
    background-color: #1E80FF;
}

#more {
    display: flex;
    width: .66667rem;
    height: 100%;
    justify-content: center;
}

#more-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

#add-btn:hover,
#more-svg:hover {
    background-color: #1171EE;
}

.show-svg {
    transform: rotate(180deg);
}

#more-list {
    position: absolute;
    top: 1.8rem;
    right: 6.4rem;
    background-color: #fff;
    box-shadow: 0 0 24px rgb(81 87 103 / 16%);
    border-radius: 6px;
    width: 4rem;
    height: 3.7rem;
    padding: .16667rem 0;
    display: none;
}

#more-list li {
    width: 3.467rem;
    height: 1.208rem;
    margin: 0 auto;
}

#more-list li a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

#more-list li a:hover {
    background-color: #F9F9F9;
}

#more-list li span {
    font-size: .48rem;
    margin: 0 0rem 0 .2667rem;
}

#member a {
    display: flex;
    align-items: center;
}

#member img {
    width: .78rem;
}

#member span {
    font-size: .46rem;
    color: #86909C;
    margin-left: .1rem;
}

#login {
    display: flex;
    align-items: center;
    width: 2.7rem;
    height: 1.2rem;
    transition: all 1s ease-in;
}

#login-btn {
    display: block;
    width: 2.2rem;
    margin-right: .45rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: #1E80FF;
    font-size: .46rem;
    background-color: rgba(30, 128, 255, .05);
    border: 1px solid rgba(30, 128, 255, .3);
    border-radius: 4px;
}


#nav-list {
    width: 100%;
    height: 2.467rem;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F1F1F1;
    box-shadow: 0px 15px 10px -15px #EAEBEB;
    position: fixed;
    top: 1rem;
    z-index: 1;
    transition: top 0.3s ease;
    align-items: center;
    font-size: 14px;
    float: left;
    display: flex;
    justify-content: center;
}

#nav-list a:hover{
    color: #1171EE;
}

#nav-item {
    width: 100%;
    height: 2.2rem;
    white-space: nowrap;
}
#nav-list-left {
    display: flex;
    width: 30rem;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x:auto;
}

#nav-item li{   
    margin: 1.5rem 5px 15px 20px;
    float: left;
}
#nav-list-right {
    /* display: none; */
    display: flex;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
}
#nav-list-right a {
    margin: 1.5rem 11px 15px 11px;
}

#backend,
#fontend,
#android,
#ios,
#ios,
#ai,
#freebie,
#career,
#article
{
    padding: 0 15px 15px 15px;
    margin-top: 0.45rem;
    transform: translateX(-2%);
    width: 360px;
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0 0 24px rgb(81 87 103 / 16%);
}

#backend ul li,
#fontend ul li,
#android ul li,
#ios ul li,
#ios ul li,
#ai ul li,
#freebie ul li,
#career ul li,
#article ul li {
    margin: 15px 15px 0 0;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

#header {
    display: flex;
    height: auto;
    border-bottom: 1px solid#ebebeb;
}

#header ul{
    width: 95%;
    align-items: center;
    font-size: 14px;
    display: flex;
    float: left;
}
#header-left li {
    padding: 0 15px 0 0;
    margin: 15px 15px 15px 0;
}
#header-left li:first-child {
    margin-left: 20px;
}
#header-left li :hover{
    color: #358DFF;
}
#l1,#l2 {
    border: none;
    border-right:1px solid#C2C8D1;
}



.item {
    list-style-type: none;
}
/* 主体内容区 */
.entry-list{
    width: 100%;
    background-color: #fff;
    position: relative;
}
.entry-list .item{
    transition: all .3s ease-in;
}
.advertisement{
    position: relative;
    cursor: pointer;
    padding: 12px 20px 0;
}
.advertisement .meta-container, .advertisement .meta-container .user-message{
    display: flex;
    align-items: center;
}
.advertisement .meta-container .user-message .userbox {
    max-width: 162px;
    font-size: 13px;
    line-height: 22px;
    color: #4e5969;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.popover-box{
    display: inline;
}
/* 竖线 */
.advertisement .meta-container .dividing{
    width: 1px;
    height: 14px;
    background: #e5e6eb;
    margin: 0 8px;
}
/* 时间 */
.advertisement .meta-container .date{
    line-height: 22px;
    font-size: 13px;
    color: #86909c;
}
/* 广告 */
.advertisement .tag{
    position: absolute;
    top: 12px;
    right: 20px;
    border: 1px solid #c9cdd4;
    box-sizing: border-box;
    border-radius: 2px;
    line-height: 18px;
    width: 42px;
    text-align: center;
    color: #c9cdd4;
    font-size: 13px;
}
/* 内容 */
.advertisement .main{
    margin-top: 6px;
    padding-bottom: 12px;
    display: flex;
    border-bottom: 1px solid #e5e6eb;
}
.advertisement .main .info-box{
    flex-grow: 1;
}
.advertisement .main .info-box .title{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1d2129;
    margin-bottom: 8px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.advertisement .main .info-box .title:visited {
    color: #86909c;
}
.advertisement .main .info-box .description {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #86909c;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
} 
.thumb{
    flex: 0 0 auto;
    width: 120px;
    height: 80px;
    background-color: #fff;
    margin-left: 24px;
    border-radius: 2px;
}
.entry{
    cursor: pointer;
    position: relative;
    background: #fff;
    padding: 12px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.meta-container{
    color: #86909c;
}
.meta-container, .meta-row{
    display: flex;
    align-items: center;
}
.meta-container .user-message{
    display: flex;
    align-items: center;
    margin-right: 8px;
    max-width: 162px;
    font-size: 13px;
    line-height: 22px;
    color: #4e5969;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.meta-container .date{
    position: relative;
    padding: 0 10px;
    line-height: 22px;
    font-size: 13px;
    flex-shrink: 0;
}
.tag_list, .tag_list .tag{
    display: flex;
    align-items: center;
}
.meta-container .date:before {
    left: 0;
}
.entry .meta-container .date:after, .entry .meta-container .date:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 14px;
    background: #e5e6eb;
    content: " ";
}
.meta-container .date:after {
    right: 0;
}
.tag_list .tag:not(:last-child):after {
    position: absolute;
    right: -1px;
    display: block;
    content: " ";
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #4e5969;
}
.tag_list .tag{
    position: relative;
    flex-shrink: 0;
    font-size: 13px;
    line-height: 22px;
    padding: 0 8px;
    color: #86909c;
}
.content-wrapper{
    display: flex;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e6eb;
    margin-top: 10px;
    width: 100%;
}
.content-wrapper .content-main {
    flex: 1 1 auto;
}

.content-main img {
    float: right;
    display: block;
}
.title-row{
    display: flex;
    margin-bottom: 8px;
}
.title-row .title{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1d2129;
    width: 100%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.abstract{
    margin-bottom: 10px;
    display: block;
}
.abstract a{
    color: #86909c;
    font-size: 13px;
    line-height: 22px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.action-list, .action-list>.item{
    display: flex;
    align-items: center;
}
.action-list>.item{
    position: relative;
    margin-right: 20px;
    font-size: 13px;
    line-height: 20px;
    color: #4e5969;
    flex-shrink: 0;
}
.action-list, .action-list>.item{
    display: flex;
    align-items: center;
}
.action-list>.item.view i{
    background-image: url(../img/view.jpg);
}
.action-list>.item.like i{
    background-image: url(../img/like.jpg);
}
.action-list>.item.comment i{
    background-image: url(../img/comment.jpg);
}
.action-list>.item i{
    display: block;
    width: 16px;
    height: 16px;
    background-size: 100%;
}
.action-list>.item span{
    margin-left: 4px;
}
i+span {
    margin-left: .6rem;
}


#content {
    width: 32rem;
    margin: 3.9rem auto;
    display: flex;
    justify-content: space-between;
}
#main{
    width: 23.33rem;
    height: 80rem;
    background-color: rgb(255, 255, 255);
}

#right-content{
    width: 8rem;
}
#right-content > div{
    margin-bottom: .5333rem;
    border-radius: 2px;
}
#right-content img{
    width: 100%;
    border-radius: 2px;
}
.hiddenimgbox{
    position: fixed;
    top: 2rem;
    opacity: 0;
    transition: all 0.3s ease;
}
.hiddenimg{
    width: 8rem;
    top: 6rem;
    margin-bottom: .5333rem;
}
.showimgbox{
    opacity: 1;
}

/* 回到顶部  */
.alert-list{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
}
.suspension-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1000;
}
.suspension-panel .btn {
    margin: 1rem 0 0;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1;
    color: #909090;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgb(50 50 50 / 4%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.suspension-panel .to-top-btn{
    
    font-size: 1rem;
}
.suspension-panel .meiqia-btn{
    font-size: 1.3rem;
    color: #007fff;
}